Mobile .container {
  padding: 14px;
}

/* Tablet */
@media (min-width: 600px) {
  .container {
    padding: 20px;
  }
}

/* Desktop */
@media (min-width: 900px) {
  .container {
    padding: 24px;
  }
}
.layout {
  text-align: center;
  background-color: #ffbe22;
  border-radius: 5px;
}
.justify-covers {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
